<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Teaching World</title>

  <style>
    .container {
      max-width:800px;
      border: solid 1px #FF773E;
      border-radius:10px 10px 0px 0px;
    }

    .header {
      background: #FF773E;
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    .new_container {
      max-width:800px;
      border: solid 1px rgba(196, 163, 45, 0.86);
      border-radius:10px 10px 0px 0px;
    }

    .new_header {
      background: rgba(196, 163, 45, 0.86);
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    fieldset{
      padding: 15px;
    }
  </style>
</head>
<body>

  <div class="container my-5 new_container">
    <div class="row new_header">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      質問
    </div>
    <%= form_for(@question, url: '/questions/create') do |f| %>
    <form>
      <fieldset class="form-group">
        <div class="form-group">
          <legend>タイトル<span style="font-size: 18px; color: grey;">  (1文字以上, 75文字以内)</span></legend>
          <%= f.text_field :title, :style => "width: 100%;" %>
        </div>
        <div class="form-group">
          <legend>質問内容<span style="font-size: 18px; color: grey;">  (1文字以上, 400文字以内)</span></legend>
          <%= f.text_area :content, {:style => "width: 100%;", :rows => "8"} %>
        </div>

        <% @question.errors.full_messages.each do |message| %>
        <li class="text-danger my-1" style="list-style: none;"><%= message %></li>
        <% end %>
        <% if @login_error_message %>
        <p class="text-danger"><%= @login_error_message %></p>
        <% end %>

        <div class="input-group">
          <legend>画像<span style="font-size: 18px; color: grey;">  (必須ではありません)</span></legend>
          <%= f.file_field :image_name %>
        </div>

        <%= render 'layouts/subject' %>

        <div class="form-group">
          <legend>タグ</legend>
          <%= f.text_field :tag, :style => "width: 100%;" %>
        </div>

          <div class="text-center my-3">
            <button type="submit" class="btn btn-primary pull-right">質問する</button>
          </div>
        </fieldset>
      </form>
      <% end %>
    </div>

  </body>
  </html>
