<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
    .container {
      max-width:800px;
      border: solid 1px #FF773E;
      border-radius:10px 10px 0px 0px;
    }

    .header {
      background: #FF773E;
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    fieldset{
      padding: 15px;
    }
  </style>
</head>
<body>

  <div class="container my-5">
    <div class="row header">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      ユーザ情報の編集
    </div>
    <%= form_for(@user, url: "/users/#{@user.id}/update") do |f| %>
    <form>
      <fieldset class="form-group">
        <div class="form-group">
          <legend>プロフィール画像</legend>
          <% if @user.image_name.url %>
          <div class="text-center">
            <%= image_tag @user.image_name.url, {:style => "width: 60%;"} %>
          </div>
          <% end %>
        </div>
        <div class="form-group">
          <legend>名前</legend>
          <%= f.text_field :name, :style => "width: 100%;" %>
        </div>
        <div class="form-group">
          <legend>自己紹介</legend>
          <%= f.text_area :introduction, {:style => "width: 100%;", :rows => "8"} %>
        </div>
        <% @user.errors.full_messages.each do |message| %>
        <li class="text-danger my-1" style="list-style: none;"><%= message %></li>
        <% end %>
        <% if @login_error_message %>
        <p class="text-danger"><%= @login_error_message %></p>
        <% end %>
        <input id="lefile" type="file" style="display:none">
        <div class="input-group">
          <!--
          <input type="text" id="photoCover" class="form-control" placeholder="select file...">
          <span class="input-group-btn"><button name="image_name" type="button" class="btn btn-info" onclick="$('input[id=lefile]').click();">Browse</button></span>
        -->
        <%= f.file_field :image_name %>
      </div>
      <p class="help-block">* png形式のみ可</p>

      <div class="text-center">
        <button type="submit" class="btn btn-primary pull-right">アップデート</button>
      </div>
    </fieldset>
  </form>
  <% end %>
</div>

<script>
  $('input[id=lefile]').change(function() {
    $('#photoCover').val($(this).val());
  });
</script>
</body>
</html>
