<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
    .container {
      max-width:400px;
      border: solid 1px #FF773E;
      border-radius:10px 10px 0px 0px;
    }

    .header {
      background: #FF773E;
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    fieldset{
      padding: 15px;
    }
  </style>
</head>
<body>

  <div class="container my-5">
    <div class="row header">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      ユーザ情報
    </div>

    <form>
      <fieldset class="form-group">
        <div class="form-group">
          <legend>プロフィール画像</legend>
          <div class="text-center">
            <img src="<%= "/img/#{@user.image_name}" %>" style="width: 50%; height: 50%;">
          </div>
        </div>
        <div class="form-group">
          <legend>名前</legend>
          <p class="text-info"><%= @user.name %></p>
        </div>
        <div class="form-group">
          <legend>自己紹介</legend>
          <p class="text-info">
            <%= @user.introduction %>
          </p>
        </div>
        <% @user.errors.full_messages.each do |message| %>
          <li class="text-danger my-1" style="list-style: none;"><%= message %></li>
        <% end %>
        <% if @login_error_message %>
          <p class="text-danger"><%= @login_error_message %></p>
        <% end %>
        <% if @current_user.id == @user.id %>
          <div class="text-center">
          <input type="button" value="編集" onClick="location.href='/users/<%= @current_user.id %>/edit'" class="btn btn-success pull-right">
        <% end %>
        </div>
      </fieldset>
    </form>

  </div>



</body>
</html>
