<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>

  <style>
    .container {
      max-width:800px;
      border: solid 1px #FF773E;
      border-radius:10px 10px 0px 0px;
    }

    .header {
      background: #FF773E;
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    .user_container {
      max-width:800px;
      border: solid 1px rgba(206, 84, 231, 0.71);
      border-radius:10px 10px 0px 0px;
    }

    .user_header {
      background: rgba(206, 84, 231, 0.71);
      border-radius:10px 10px 0px 0px;
      padding: 15px;
      font-size: 25px;
    }

    fieldset{
      padding: 15px;
    }
  </style>
</head>
<body>

  <div class="container my-5 user_container">
    <div class="row user_header">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      ユーザ情報
    </div>

    <form>
      <fieldset class="form-group">
        <div class="form-group">
          <legend>プロフィール画像</legend>
          <div class="text-center">
            <% if @user.image_name.url %>
              <div class="form-group text-center">
                <%= image_tag @user.image_name.url, {:style => "width: 60%;"} %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <legend>名前</legend>
          
          <p class="text-info"><%= @user.name %></p>
        </div>
        <div class="form-group">
          <legend>自己紹介</legend>
          <p class="text-info">
            <%= @user.introduction %>
          </p>
        </div>
        <% @user.errors.full_messages.each do |message| %>
          <li class="text-danger my-1" style="list-style: none;"><%= message %></li>
        <% end %>
        <% if @login_error_message %>
          <p class="text-danger"><%= @login_error_message %></p>
        <% end %>
        <% if @current_user.id == @user.id %>
          <div class="text-center">
          <input type="button" value="編集" onClick="location.href='/users/<%= @current_user.id %>/edit'" class="btn btn-success pull-right">
        <% end %>
        </div>
      </fieldset>
    </form>

  </div>

  <div style="margin: 0 auto; max-width:800px; text-align: center;" class="my-4">
    <%= page_entries_info @questions %>
  </div>


  <% @questions.each do |q| %>
  <div class="container my-5">
    <div class="row header">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <img src="<%= "/img/#{q.user.image_name}" %>" style="border-radius: 50%; height: 40px; width: 40px; margin-right: 10px;">
        <%= link_to("#{q.user.name}", "/users/#{q.user.id}/show") + " " + "さんからの質問" %>
    </div>
    <form>
      <fieldset class="form-group">
        <div class="form-group">
          <h2 class="font-weight-bold text-center"><%= link_to(q.title, "/questions/#{q.id}/show") %></h2>
        </div>
        <div class="form-group">
          <p><%= q.content %></p>
        </div>
        <% if q.image_name %>
          <div class="form-group text-center">
            <img src="<%= "/img/#{q.image_name}" %>" style="width: 300px; ">
          </div>
        <% end %>

      </fieldset>
    </form>

    <% if @current_user.id == q.user.id %>
    <div>
      <ul style="list-style: none;">
        <li style="float: right;" class="mr-3"><%= link_to("編集", "/questions/#{q.id}/edit") %></li>
        <li ><%= link_to("削除", "/questions/#{q.id}/destroy", {method: "post", :style => "float: right; margin-right: 10px;"}) %></li>
      </ul>
    </div>
    <% end %>

    <% if Like.find_by(user_id: @current_user.id, post_id: q.id) %>
      <%= link_to("/likes/#{q.id}/#{q.user.id}/user_show_destroy", {method: "post" }) do %>
        <span class="fa fa-heart like-btn-unlike" style="color: #ff2581; padding-left: 20px;"></span>
      <% end %>
    <% else %>
    　<%= link_to( "/likes/#{q.id}/#{q.user.id}/user_show_create", {method: "post"} ) do %>
        <span class="fa fa-heart like-btn" style="color: #8899a6;"></span>
      <% end %>
    <% end %>

    <%= Like.where(post_id: q.id).count %>

  </div>
  <% end %>

  <div style="margin: 0 auto; max-width:800px; text-align: center;">
    <p class="text-center"><%= paginate @questions, window: 0 %></p>
  </div>



</body>
</html>
